body,p,div,span,a,ul,li,b,h1,h2,h3,h4,h5,h6{
	font-family: sans-serif;
}

header.ld-header {
    background-color: #011627;
    font-family: sans-serif;
    position: fixed;
}

body{
	margin: 0px;
}
.logo {
    width: 21%;float: left;
}
.logo img{
	width: 100%;
}
.navbar-top {
    padding: 15px 100px;height: 35px;

}
nav.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
nav.nav-links ul li {
    padding: 0px 17px;
    margin-top: -8px;
}
nav.nav-links ul {
    list-style: none;
    display: -webkit-inline-box;
}
nav.nav-links {
    float: right;
}
.header-bg-view{
	padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(img/headbg.png);
    background-size: cover;
    background-position: center;	
}
.pad-l-pad-r{
	    padding-left: 170px;
    padding-right: 170px;
}
.header-m-contant {
	
    padding-top: 65px;
    margin-bottom: 0;
    padding-bottom: 65px;
}
.sm-view h3 {
    color: #fff;
    font-weight: 100;
    margin: 0px;
    font-size: 45px;
    font-family: sans-serif;margin-bottom: 9px;
}
.sm-bg-dg {
    background-color: yellow;
    margin-left: -30px;
    padding-left: 30px;
    width: 50%;
    margin-bottom: 8px;
}
.sm-bg-dg1 span{
	    background-color: yellow;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 23px 29px/20px 6px 7px;
    box-shadow: -1px -2px 0px 2px #000;
}
.sm-bg-dg {
    background-color: yellow;
    margin-left: -30px;
    padding-left: 30px;
    width: 50%;
    margin-bottom: 8px;
    border-radius: 106px/20px 7px 14px 1px;
    box-shadow: 0px -3px 0px 2px #000;
}
.requst-card {
    background-color: #A0E8AF;
    padding-bottom: 40px;
    padding-top: 50px;
}
button.reust-btn {
    margin-left: 70px;
    border: 2px solid #000;
    background-color: transparent;
    padding: 8px 27px;
    border-radius: 26px;
    font-size: 13px;
}
.requst-card.pad-l-pad-r span {
    font-size: 14px;
    font-family: sans-serif;
}
.requst-card.pad-l-pad-r span a {
    font-weight: bold;
    color: #4358ef;
    text-decoration: none;
}
.Takeword-heding {
    text-align: center;
    margin-top: 6%;
}
.Takeword-heding h2 {
    font-size: 37px;
    font-family: sans-serif;
    margin-bottom: 4rem;    color: #777;
}
.Takeword-heding p {
    line-height: 23px;
    padding: 0px 54px;
    font-size: 15px;    color: #777;
}

.row-view {
    display: flex;
}
.c-types {
    padding: 10px;
}
.c-types h4 {
    font-size: 17px;
}
.c-types h4:after{
    position: relative;
    top: -49px;
    left: -31px;
    z-index: -5;
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-color: #FFEA00;
    border-radius: 50%;
}
.c-body {
    margin-top: -45px;
}
.c-body p {
    font-size: 13px;
    font-family: sans-serif;
    line-height: 18px;
}

.c-body button {
   border: 1px solid #011627;
    padding: 8px;
    border-radius: 25px;
    background-color: #011627;
}
.c-body button a {
    color: #fff;
    text-decoration: none;
}
.c-t-buttom {
    margin-bottom: 10%;
}
.space-4-3 {
    width: 33.3333%;
    padding: 15px 53px;
}
.section-4 {
    background-color: #f5f5f5;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.s4 h2, p {
    color: #777;
}
hr.hr-line {
    margin: 40px 10rem;
}

.user-img-name img {
    border-radius: 50%;
}
.user-img-name span {
    color: #585858;
    position: relative;
    padding-top: -22px;
   top: -15px;
    left: 15px;
}
.space-6 {
    padding: 0px 25px;width: 50%;
}
.user-tm p {
    font-size: 14px;    line-height: 18px;
}
.user-tm p:before{
	position: relative;
    content: '"';
    left: 0;
    top: -5px;
    transform: rotateY(180deg);
    font-size: 24px
}
h3.our-c {
    font-size: 25px;
    font-weight: 100;
    color: #444444;
}

.customers-logo-4 {
    width: 25%;
    margin-top: 25px;
    padding: 0px 30px;
}
.form-bg {
    margin-top: 7rem;
    padding-top: 4rem;
    background-color: #f4f4f4;
        padding-bottom: 4rem;
}
.form-heading p {
    font-size: 14px;
}
.form-heading h1 {
    font-size: 23px;
    font-weight: 100;
}
.form-heading {
    text-align: center;
}
form.main-form {
    text-align: center;
}
.form-input input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}
.form-input select {
    width: 49%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 25px;
    border-radius: 5px;
}
.form-input textarea {
    width: 48%;
    margin-top: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200px;
}

.form-sub-btn.pad-l-pad-r {
    text-align: left;
    margin-left: 69px;
    margin-top: 25px;
}
.form-sub-btn button {
    border: 1px solid #011627;
    padding: 7px;
    width: 100px;
    background-color: #011627;
    color: #fff;
    border-radius: 20px;
}
.form-5 img {
    width: 20%;
    float: left;
    margin-bottom: 50px;
}
.img-side-c h4 {
    margin: 5px;
    font-size: 15px;
    font-weight: 900;
}
.form-5 h2 {
    margin: 15px;
}
.img-side-c p {
    font-weight: bold;
    color: #171717;
}
.img-side-c {
    margin-left: 74px;
}
.form-5 {
    margin-top: 39px;
    width: 41%;
    margin-left: 40px;
}
.card-view-port img {
    width: 80%;
}
.card-2 {
    width: 40%;
}
.make-py button {
    background-color: #fff;
    border: 1px solid #fff;
    margin-top: 30px;
}
footer.footer1 {
    background-color: #011627;
    padding-top: 35px;
    padding-bottom: 100px;
}
.f-list {
    margin-left: 2px;
    margin-right: 30px; 
}
.f-list ul {
    list-style: none;
    padding-left: 0px;
}
.f-list ul li {
    color: #848484;
    line-height: 23px;
    font-size: 13px;
}
.f-list h4{
	color:#fff;
}


.mbllogo-view{
	display: none;
}

.menu-mbl-right{
	display: none;
}




/* responsive ---------------------------------------------------------- */



@media (min-width: 1025px) and (max-width: 1280px) {
  
 
  
}



@media (min-width: 768px) and (max-width: 1024px) {
  
 .pad-l-pad-r {
    padding-left: 60px;
    padding-right: 60px;
}
  
}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 .pad-l-pad-r {
    padding-left: 60px;
    padding-right: 60px;
}
  
}


@media (min-width: 481px) and (max-width: 767px) {
  
 .pad-l-pad-r {
    padding-left: 60px;
    padding-right: 60px;
}
  
}

@media (min-width: 320px) and (max-width: 780px) {
 img.mbllogo-view {
    display: block;
    width: 65%;
    padding: 10px;
}
.navbar-top {
    padding: 0px;
    height: 35px;
}
.customers-logo-4 {
    width: 25%;
    margin-top: 25px;
    padding: 0px 10px;
}
img.dasktop-view {
    display: none;
}
header.ld-header {
   width: 100%;
    z-index: 999;
} 
.card-2 {
    width: 100%;
    text-align: center;
}
 .f-6 {
    text-align: center;
}
  nav.nav-links {
    display: none;
}
.pad-l-pad-r {
    padding-left: 15px;
    padding-right: 15px;
}
.sm-view h3 {
    font-size: 24px;
}
.sm-bg-dg {
    background-color: yellow;
    margin-left: 0px;
    padding-left: 4px;
    width: 100%;
    /* margin-bottom: 8px; */
    border-radius: 0px;
    box-shadow: 0px -3px 0px 2px #000;
}
.sm-bg-dg1 span {
    background-color: yellow;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 23px 29px/20px 6px 7px;
    box-shadow: -1px -2px 0px 2px #000;
}
.requst-card {
    text-align: center;
}
button.reust-btn {
    margin-left: 0;
    margin-top: 20px;
    font-size: 13px;
}
.Takeword-heding {
    text-align: center;
    margin-top: 29%;
}
.Takeword-heding p {
    padding: 0px 20px;
}
.row-view {
    display: grid;
    /* padding-left: 15px; */
}
.c-types h4:after {
       left: 7rem;
}
.space-3 {
    margin-top: 35px;
    text-align: center;
}
.space-4-3 {
    width: 100%;
    padding:0px;
    text-align: center;
}
.space-6 {
    padding:0px;
    width: 100%;
    margin-bottom: 30px;
}

.customers-logo-4 {
    width: 100%;
    margin-top: 36px;
    padding: 0px;
    text-align: center;
}
.form-input input {
    margin-bottom: 20px;width: 80%;
}
.form-input select {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 4px;
    border-radius: 5px;
}
.form-input textarea {
    width: 83%;
    margin-top: 25px;
}
.form-5 {
    margin-top: 39px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
}
.img-side-c {
    margin-left: 0px;
}
.logo a {
    position: absolute;
    right: 10px;
    top: 20px;
}
.logo a img {
    width: 40px;
}
.menu-mbl-right {
    display: block;
}
}